button{
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid white;
  font-weight: bold;
  margin: 5px;
  color: white;
}
button:hover{
  background-color: #00471b;

}
.boton-clic{
  background-color: #002ead;
}

.boton-reiniciar{
  background-color: #5a01a7 ;

}